@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET MVC - Exemplo de um site</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Desenvolvido</h2>
        <p>
            Desenvolvido na disciplina de PSI do curso de GPSI na Escola Secundária de Emídio Navarro
        </p>
        <p><a class="btn btn-default" href="https://github.com/alunosnet">Disponível em &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>AlunosNET</h2>
        <p>Mais projetos disponíveis em AlunosNET</p>
        <p><a class="btn btn-default" href="http://alunosnet.pt.vu">AlunosNET</a></p>
    </div>
</div>